<html lang="en">
<head>
    {{header_init}}
    <title>My Database Edits</title>
    {{meta_no_index}}
    <script defer src="/js/database/database-player-utils.js"></script>
    <script defer src="/js/userdata/my-db-edits.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-extended">
    <h1>My Database Edits</h1>
    <hr class="only-desktop"/>
    <div id="my-edits-container">
        <p>Loading your edits...</p>
    </div>
    <div id="no-edits-message" class="empty-list-message-user-data" style="display: none;">
        You haven't edited any player profiles yet. You can contribute to the database by editing player profiles.
    </div>
</div>
</body>
</html>

