.content-section-vote-panel {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
}

.content-section-vote-button {
    height: 15px;
    cursor: pointer;
    opacity: 0.5;
    /* Tints the black icon to blue */
    filter: invert(11%) sepia(99%) saturate(7426%) hue-rotate(245deg) brightness(70%) contrast(122%);
}

.content-section-vote-button-down {
    transform: rotate(180deg);
}

.content-section-vote-button:hover {
    opacity: 0.8;
}

.content-section-vote-button.voted-for {
    opacity: 0.8;
}

.content-section-vote-button.voted-against {
    opacity: 0.3;
}

.content-section-feedback-link {
    display: none;
    margin-left: 4px;
}

.content-section-feedback-link-visible {
    display: inline;
}

#content-section-feedback-modal {
    width: 430px;
}

#content-section-feedback-textarea {
    height: 170px;
}
