<html lang="en">
<head>
    {{header_init}}
    <title>Frequently Asked Questions (FAQ) about elephantchess.io</title>
    <meta name="description"
          content="Frequently Asked Questions (FAQ) about elephantchess.io: Why support the project, Why sign up, cookie policy, privacy policy, analysis summary report symbols, perpetual checking, auto-cancellation of games, etc."/>
    <meta property="og:url" content="https://elephantchess.io/about/faq"/>
    <link rel="canonical" href="https://elephantchess.io/about/faq"/>
    <link rel="stylesheet" href="/css/about-faq.css"/>
    <script defer src="/js/default-base-page.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text">
    <h1>Frequently Asked Questions</h1>
    <hr/>
    {{faq_toc}}
    <!-- why support the project -->
    <h1 id="why-support-us">Why support the project?</h1>
    <hr/>
    <p>
        You can support the project on <b><a href="https://ko-fi.com/elephantchess" target="_blank">Ko-fi</a></b> or
        <b><a href="https://www.paypal.com/paypalme/benckx/4" target="_blank">PayPal</a></b>. A mere 4€ donation
        would currently support the platform for an entire day!
    </p>
    <p>
        The website is <b>free to use and doesn't run ads</b>, and your data is not shared with any third party. And I'm
        intending to keep it that way. It's updated on a <a href="/about/changelog?medium=faq">weekly basis</a>
        (sometimes even daily, but mostly on weekends). Since I started the project 3 years ago, I've sunken hundreds of
        hours of coding — just for the fun of making a nice platform for Xiangqi players around the world, and to bring
        the game to a wider English-speaking audience.
    </p>
    <p>
        It currently costs around 100€ per month to run, and I'm also paying for ads to increase visibility and LLM for
        increased productivy and progress. This is all out of pocket (financed by my day job as a <a
            href="https://benckx.me" target="_blank">software developer</a>). This cost is likely to increase in the
        future, as the platform (hopefully) grows in popularity.
    </p>
    <p>
        If just 25 people donated 4€ per month, that would fully cover the current cost!
    </p>
    <p>
        A sustainable stream of income would, for example, allow to rent dedicated servers (as of now, we're using
        "shared CPU" servers, which sometimes makes the website unresponsive, luckily this doesn't happen too often).
        Another example: the reason we are not able to run Fairy Stockfish 14.0.1 and are stuck with 11.2 is because we
        are limited with memory on the current set-up.
    </p>
    <p>
        With more budget, I could also duplicate the server in Asia to improve response time from there. At some point,
        I could also hire experts for specific tasks (data analysis, UI/UX improvements, puzzle algorithms, cheating
        detection, editors to improve Database player profiles, translators for internationalization, etc.)
    </p>
    <p>
        My goal is to make the platform financially self-sustainable, so it wouldn't be dependent on my other activities
        but would instead be <b>powered by the community</b>. I think this is the best way to monetize such a project,
        by letting anyone help willingly and according to their means while keeping it available for all.
    </p>
    <p>
        If you want to see the platform <b>improve and grow in the future</b>, making a small donation is the best way
        to make that happen. Your support directly enables new features, better performance, and continued development
        and encourage independent projects like this one.
    </p>
    <p>
        So if you can afford it, please consider supporting our project. Help keep elephantchess.io independent and
        ad-free! <b>Even 1€ per month would help.</b>
    </p>
    <p>
        However, do not worry nor feel guilty if you can not afford to contribute financially. If you're tight on
        budget, prioritize your needs and wellbeing. The platform will remain free to use for everyone, regardless of
        their financial situation.
    </p>
    <p>
        You can also check out <a href="https://elephanchessio.myspreadshop.com/all" target="_blank">the merch
        store</a> for a <a href="https://elephanchessio.myspreadshop.com/men+t-shirts?q=P22" target="_blank">cute
        t-shirt</a> or a <a href="https://elephanchessio.myspreadshop.com/accessories+mugs+%26+drinkware?q=P110"
                            target="_blank">cool mug</a>.
    </p>
    <p>
        (Note that if you want to automatically appear as the latest supporter in the banner, you must use Ko-fi and use
        the same email address on both Ko-Fi and elephantchess.)
    </p>

    <!-- why sign up -->
    <h1 id="why-sign-up">Why sign up?</h1>
    <hr/>
    <p>
        You can use the webapp as a guest user. However, those sessions are tied to your device and are temporary (30
        days long). By signing up, you will be able to:
    </p>
    <ul>
        <li>
            Authenticate across devices and save all your games in one place
        </li>
        <li>
            Create, save and share your analysis on the <a href="/analysis">Analysis Board</a>
        </li>
        <li>
            Play against the bots with depth greater than 6
        </li>
        <li>
            Up vote and down vote puzzles
        </li>
    </ul>
    <p>
        Emails notifications can be enabled or disabled in your settings at any time.
    </p>
    <p>
        If you want to obtain a new temporary session, you can simply delete the webapp cookies in your browser.
    </p>

    <!-- our cookie policy -->
    <h1 id="our-cookie-policy">Our cookie policy</h1>
    <hr/>
    <p>
        Cookies are a tool to store information on your computer that a website can read and write when you visit. We
        use them (1) to store your session information (so you don't have to log in every time you visit), (2) to save
        your preferences (piece style, move format, etc.) Cookies are also communicated to the server on requests but
        this information is not stored. Those cookies expire after 400 days (which is the maximum allowed). They are
        listed under the "Necessary" category in the cookie consent banner (or the cookies icon once you have accepted
        or refused).
    </p>
    <p>
        You can easily find information online about how to list, visualize and delete cookies in your browser.
    </p>
    <p>
        We also use Google Analytics (to get information about visitors) and Google Ads (to bring more traffic). Those
        tools also add their own cookies. Google Analytics is not that useful, so we might very well ditch it in the
        future - and we hope that some day we will have enough activity to get rid of Google Ads as well.
    </p>
    <p>
        The YouTube videos embedded in the website also bring cookies (meaning for example that embedded videos you
        watch on this website will also appear in your YouTube history, if you have a YouTube account).
    </p>
    <p>
        The annoying banner at the bottom of the page is from a third-party and is mandatory if we want to continue
        using Google Ads by complying with the GDPR and other privacy laws around the world.
    </p>
    <p>
        Cookies are controversial because they potentially enable Google to track your activity online (since most
        websites use those tools, Google can track your browsing history, even if you don't use the Google search
        engine). By refusing the cookies in the banner, you prevent Google from adding elephantchess to the navigation
        history they associate with your customer profile (or more generally from collecting data about what you do on
        elephantchess).
    </p>
    <p>
        On the other hand, the cookies added by elephantchess can not be used to track you outside the website.
    </p>
    <p>
        One way to reduce and/or monitor tracking is to install <a href="https://www.ghostery.com/" target="_blank">Ghostery</a>
        in your browser. You can also use <a href="https://www.i-dont-care-about-cookies.eu" target="_blank">I don't
        care about cookies</a> to just automatically ignore those banners. To name just a few such tools.
    </p>

    <!-- our privacy policy -->
    <h1 id="our-privacy-policy">Our privacy policy</h1>
    <hr/>
    <p>
        We keep track of your session information (like the IP) to get information about where our users come from and
        when they were last online (which is required for some functionalities). It is planned to add functionality to
        list and delete your session data in your settings.
    </p>
    <p>
        Chat messages are public and not encrypted. They can be reviewed by the admins and moderators.
    </p>
    <p>
        We don't share your information (like your email or your activity) with anyone, however we use an <a
            href="https://emaillistverify.com" target="_blank">external service</a> to validate email addresses, to
        avoid getting bounced emails, which our email provider doesn't like and which could affect our ability to send
        legit emails.
    </p>


    <!-- why io -->
    <h1 id="why-io">Why did we pick a URL with .io at the end?</h1>
    <hr/>
    <p>
        The initial idea was to create an online xiangqi puzzle game. A lot of online games and tech websites use the
        .io top-level domain. That's why I picked it. I later realized people are not necessarily familiar with the .io
        TLD.
    </p>

    <h1 id="pvb-opening-mode">What's the Opening setting in PvB?</h1>
    <hr/>
    <p>
        When playing against a bot, there is an "Openings" setting that lets you select between 3 options:
    </p>
    <ul>
        <li>
            <b>Most Played</b> will pick from the opening repertoire but with a higher probability for the most played
            openings.
        </li>
        <li>
            <b>Randomized</b> will pick a completely random opening from the opening repertoire.
        </li>
        <li>
            <b>Engine Only</b> will ignore the opening repertoire entirely and let the engine play from the very first
            move.
        </li>
    </ul>

    <!-- analysis summary report -->
    <h1 id="analysis-summary-report">How do analysis summary symbols work?</h1>
    <hr/>
    <p>
        <a href="https://en.wikipedia.org/wiki/Chess_annotation_symbols" target="_blank">Chess annotation symbols</a>
        are a standard way of evaluating moves in chess. When using computer analysis, we compare 2 positions. The
        engine evaluation of a given position results in either a centi-pawns value (strength of a position in material
        equivalent, i.e. in 1/100 of pawns or centi-pawns), or a mate value (i.e. in how many plies a checkmate is
        possible).
    </p>
    <p>
        When both positions evaluation contain a centi-pawn value, we calculate the delta. If this delta is above a
        certain value, we can classify the move as follows:
    </p>
    <table id="annotation-symbols-table">
        <thead>
        <tr>
            <th>Delta</th>
            <th>Classification</th>
            <th>Symbol</th>
        </tr>
        </thead>
        <tr>
            <td>&ge; +300</td>
            <td>Brilliant</td>
            <td class="brilliant-annotation-label">!!</td>
        </tr>
        <tr>
            <td>&ge; +100</td>
            <td>Good</td>
            <td class="good-annotation-label">!</td>
        </tr>
        <tr>
            <td>&ge; +50</td>
            <td>Interesting</td>
            <td class="interesting-annotation-label">!?</td>
        </tr>
        <tr>
            <td>&le; -50</td>
            <td>Inaccuracy</td>
            <td class="inaccuracy-annotation-label">?!</td>
        </tr>
        <tr>
            <td>&le; -100</td>
            <td>Mistake</td>
            <td class="inaccuracy-annotation-label">?</td>
        </tr>
        <tr>
            <td>&le; -300</td>
            <td>Blunder</td>
            <td class="blunder-annotation-label">??</td>
        </tr>
    </table>
    <p>
        Those thresholds are a common standard
        (<a href="https://chess.stackexchange.com/questions/26469/average-centipawn-loss/26473#26473" target="_blank">source</a>).
        However, we had to make a few simplifications to make this work:
    </p>
    <p>
        <b>Simplification</b>: When a position doesn't contain a centi-pawn value but a mate value, we convert that
        mate value to a centi-pawn value following a heuristic: Since centi-pawn value of a position varies from
        [-7,706, +7,706] in the Pikafish engine, we assign to a "mate" evaluation a value above +7,706 (or below
        -7,706). We add a "bonus" (or subtract a "malus") on top of 7,706 — 312 for a mate in 1, 304 for a mate in 2,
        296 for a mate in 3, etc. until a mate in 40 plies where we don't add anything. So 8 centi-pawns for each mate
        below 40.
    </p>
    <p>
        In any case, computer analysis of games is just a tool, it is not perfect, and it can not replace an analysis
        made by master player or a teacher. But it can already help players identify blunders and mistakes.
    </p>

    <!-- supported-import-formats-->
    <h1 id="supported-import-formats">What formats are supported for imports?</h1>
    <hr/>
    <p>
        The <a href="/analysis">Analysis Board</a> has a feature to import moves in various formats.</p>
    <p>
        To use it, to go the <a href="/analysis">Analysis Board</a> and right-click on the empty list of moves, then
        select "Import moves". You can then paste the moves in one of the following formats:
    </p>
    {{faq_import_moves_formats_examples}}[[keepIndentation:false]]

    <!-- perpetual checking -->
    <h1 id="perpetual-checking">What is perpetual checking?</h1>
    <hr/>
    <p>
        <i>Perpetual checking</i> is a situation in which a player makes a series of moves giving check to the opponent
        General with one or several pieces. The series of checks is called perpetual depending on the applied rules.
        Currently, we apply the following rules set:
    </p>
    <ul>
        <li>if the player makes 6 consecutive checking moves with the same 1 piece</li>
        <li>if the player makes 12 consecutive checking moves with the same 2 pieces</li>
        <li>if the player makes 18 consecutive checking moves with the same 3 pieces</li>
    </ul>
    <p>
        <a href="https://www.iggamecenter.com/en/rules/xiangqi#perpetual" target="_blank">[source]</a>
    </p>
    <p>
        Our <i>Perpetual checks</i> indicator widget lists two labels for each color:
    </p>
    <ul>
        <li>
            <b>pieces</b> indicates which pieces are currently involved in a series of perpetual checks, in the standard
            UCI format (C for Cannon, R for Tower or Rook, N for knights, B for Elephant, A for Advisor, K for General
            or King, p for Soldier of Pawn; uppercase for red and lowercase for black)
        </li>
        <li>
            <b>limit</b> indicates how many consecutive checks have been made with the pieces listed above, as well as
            the upper limit
        </li>
    </ul>

    <!-- auto-cancellation and auto-resignation  -->
    <h1 id="auto-cancellation">What does it mean when a game is 'auto-cancelled'?</h1>
    <hr/>
    <p>
        Games that were created but not joined by anyone will be auto-cancelled. This happens after 2 days for guests
        users and after 7 days for authenticated users.
    </p>
    <p>
        PvB games that are idle for more than 24h are auto-resigned.
    </p>
</div>
{{footer}}
{{kofi_floating_widget}}
</body>
</html>
