<html lang="en">
<head>
    {{header_init_admin}}
    <title>Content Feedback</title>
    <link rel="stylesheet" href="/css/admin/admin-console.css"/>
    <script defer src="/js/admin/admin-utils.js"></script>
    <script defer src="/js/admin/admin-content-section-feedback.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-extended-larger">
    {{admin_submenu}}
    <h1>Latest Content Section Feedback</h1>
    <hr/>
    <table id="content-section-feedback-table" class="stats-table">
        <thead>
        <tr>
            <th class="label-cell">user</th>
            <th class="label-cell">page</th>
            <th class="label-cell">section</th>
            <th class="value-cell">vote</th>
            <th class="long-label-cell">feedback</th>
            <th class="label-cell">updated</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>
