<html lang="en">
<head>
    {{header_init_admin}}
    <title>Password Recovery Attempts</title>
    <link rel="stylesheet" href="/css/admin/admin-console.css"/>
    <script defer src="/js/admin/admin-utils.js"></script>
    <script defer src="/js/admin/admin-password-recovery.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-extended-larger">
    {{admin_submenu}}
    <h1>Password Recovery Attempts</h1>
    <hr/>
    <table id="password-recovery-attempts-table" class="stats-table">
        <thead>
        <tr>
            <th class="label-cell">user</th>
            <th class="label-cell">email</th>
            <th class="label-cell">creation</th>
            <th class="label-cell">recovery</th>
            <th class="label-cell">user creation</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>
