<html lang="en">
<head>
    {{header_init_admin}}
    <title>Database Search Queries</title>
    <link rel="stylesheet" href="/css/admin/admin-console.css"/>
    <script defer src="/js/admin/admin-utils.js"></script>
    <script defer src="/js/admin/admin-db-search-queries-dto.js"></script>
    <script defer src="/js/admin/admin-db-search-queries.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-extended-larger">
    {{admin_submenu}}
    <h1>Database Search Queries</h1>
    <hr/>
    <table id="list-search-queries" class="stats-table">
        <thead>
        <tr>
            <th class="label-cell">user</th>
            <th class="label-cell">start</th>
            <th class="label-cell">end</th>
            <th class="label-cell">player</th>
            <th class="label-cell">player color</th>
            <th class="label-cell">event</th>
            <th class="label-cell">fen</th>
            <th class="label-cell">timestamp</th>
            <th class="value-cell">offset</th>
            <th class="value-cell">results</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>
