<html lang="en">
<head>
    {{header_init_admin}}
    <title>Chat Messages</title>
    <link rel="stylesheet" href="/css/admin/admin-console.css"/>
    <script defer src="/js/widgets/settings-manager.js"></script>
    <script defer src="/js/admin/admin-utils.js"></script>
    <script defer src="/js/admin/admin-chat-messages.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-extended-larger">
    {{admin_submenu}}
    <h1>Last Chat Messages</h1>
    <hr/>
    <table id="last-chat-messages" class="stats-table">
        <thead>
        <tr>
            <th class="label-cell">game id</th>
            <th class="label-cell">author</th>
            <th class="long-label-cell">message</th>
            <th class="label-cell">time</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>
