<html lang="en">
<head>
    {{header_init_admin}}
    <title>Thrown Exceptions</title>
    <link rel="stylesheet" href="/css/admin/admin-console.css"/>
    <script defer src="/js/admin/admin-utils.js"></script>
    <script defer src="/js/admin/admin-thrown-exceptions.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-extended-larger">
    {{admin_submenu}}
    <h1>Thrown Exceptions</h1>
    <hr/>
    <table id="thrown-exceptions-table" class="stats-table">
        <thead>
        <tr>
            <th class="label-cell">time</th>
            <th class="label-cell">code</th>
            <th class="label-cell">class</th>
            <th class="label-cell">message</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>

