<html lang="en">
<head>
    {{header_init_admin}}
    <title>User Elo Stats</title>
    <link rel="stylesheet" href="/css/admin/admin-console.css"/>
    <script defer src="/js/admin/admin-utils.js"></script>
    <script defer src="/js/admin/admin-user-elo-stats.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-extended-larger">
    {{admin_submenu}}
    <h1>User Elo Stats</h1>
    <hr/>
    <p>Includes authenticated users and guests.</p>
    <table id="elo-stats" class="stats-table">
        <thead>
        <tr>
            <th class="value-cell-larger">variant</th>
            <th class="value-cell-larger">time control</th>
            <th class="value-cell">users</th>
            <th class="label-cell">min elo</th>
            <th class="value-cell">avg elo</th>
            <th class="label-cell">max elo</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>
