<html lang="en">
<head>
    {{header_init_admin}}
    <title>Manchu Feeds</title>
    <link rel="stylesheet" href="/css/admin/admin-console.css"/>
    <script defer src="/js/admin/admin-utils.js"></script>
    <script defer src="/js/admin/admin-feeds-dto.js"></script>
    <script defer src="/js/admin/admin-feeds.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-extended-larger">
    {{admin_submenu}}
    <h1>Last Manchu Game Updates</h1>
    <hr/>
    <table id="list-manchu-games" class="stats-table">
        <thead>
        <tr>
            <th>v</th>
            <th class="label-cell">game id</th>
            <th class="label-cell">inviter</th>
            <th class="label-cell">invitee</th>
            <th class="label-cell">mode</th>
            <th class="value-cell">allow guests</th>
            <th class="value-cell">always visible</th>
            <th class="value-cell">private</th>
            <th class="value-cell">time</th>
            <th class="label-cell">status</th>
            <th>index</th>
            <th class="label-cell">created</th>
            <th class="label-cell">updated</th>
            <th class="label-cell">source</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>
