<html lang="en">
<head>
    {{header_init_admin}}
    <title>Latest Player Profile Versions</title>
    <link rel="stylesheet" href="/css/admin/admin-console.css"/>
    <script defer src="/js/admin/admin-utils.js"></script>
    <script defer src="/js/database/database-player-profile-dto.js"></script>
    <script defer src="/js/database/database-player-utils.js"></script>
    <script defer src="/js/admin/admin-player-profile-edits.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-extended-larger">
    {{admin_submenu}}
    <h1>Latest Player Profile Edits</h1>
    <hr/>
    <div id="latest-player-profile-versions-container"></div>
</div>
</body>
</html>
