<html lang="en">
<head>
    {{header_init}}
    <title>Email confirmation failed</title>
    {{meta_no_index}}
    <script defer src="/js/default-base-page.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-error-message">
    <div class="center-content-div">
        <img alt="Not Found" class="warning-icon" src="/images/icons/warning.png">
    </div>
    <span class="big-fat-error-message">
        Unknown or invalid email confirmation code
    </span>
</div>
{{footer}}
</body>
</html>
