<html lang="en">
<head>
    {{header_init}}
    <title>{{page_title}} Games</title>
    <meta name="description"
          content="Browser Database (DB) games played by the best players in tournaments and events.">
    <link rel="stylesheet" href="/css/browse-games.css"/>
    <script defer src="/js/widgets/board-gui.js"></script>
    <script defer src="/js/widgets/game-thumb.js"></script>
    <script defer src="/js/infinite-scroll-page.js"></script>
    <script defer src="/js/database/database-player-utils.js"></script>
    <script defer src="/js/browse-games.js"></script>
    <script defer src="/js/browse-db-player-games.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-extended">
    <h1>{{page_title}} Games</h1>
    <hr class="only-desktop"/>
    <div id="db-games-container">
        {{game_thumb}}[[iterations:6; {gameType: 'db', parentClass: 'db-game-thumb'}]]
    </div>
    <div id="is-loading-message" style="display: none;">
        Loading more games...
    </div>
    <div id="end-of-pagination-message" style="display: none;">
        No more games to show
    </div>
    <div id="no-games-message" class="empty-list-message" style="display: none;">
        No games found for this player.
    </div>
</div>
{{kofi_floating_widget}}
</body>
</html>
