<html lang="en">
<head>
    {{header_init}}
    <title>Database Game</title>
    {{meta_no_index}}
    <link rel="stylesheet" href="/css/database/database-game-viewer.css"/>
    {{apex_charts}}
    {{board_js}}
    <script defer src="/js/database/database-player-utils.js"></script>
    <script defer src="/js/database/database-game-viewer.js"></script>
</head>
<body>
{{body_init}}
<div class="flex-triptych-container">
    <div class="flex-triptych-left-container">
        <div id="mobile-navigation-panel" class="navigation-panel mobile-navigation-panel only-mobile"></div>
        <div class="info-box">
            <table class="info-box-table">
                <tbody>
                <tr>
                    <td class="icon-cell">
                        <img src="/images/icons/servers.png" alt="database"/>
                    </td>
                    <td class="description-cell">
                        <div id="players-info"></div>
                        <div id="game-status-info"></div>
                        <div id="game-date-info"></div>
                        <div id="game-event-info"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {{analysis_summary_report}}
        <div id="analysis-button-container-left-side">
            <input type="button" value="Analyze" id="analyze-button-left-side" class="app-buttons-bigger"/>
        </div>
    </div>
    <div class="flex-triptych-board-container">
        <div id="board-container" class="board-container"></div>
    </div>
    <div class="flex-triptych-right-container">
        {{settings_info_box}}
        <div id="move-tree-container" class="move-tree-container"></div>
        <div id="move-history-navigation-panel" class="navigation-panel only-desktop"></div>
        <div id="analysis-button-container-right-side">
            <input type="button" value="Analyze" id="analyze-button-right-side" class="app-buttons-bigger"/>
        </div>
    </div>
</div>
</body>
</html>
