<html lang="en">
<head>
    {{header_init}}
    <title>{{page_title}}</title>
    {{meta_no_index}}
    <link rel="stylesheet" href="/css/database/database-player-edit-diff.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/8.0.2/diff.min.js"></script>
    <script defer src="/js/database/database-player-profile-dto.js"></script>
    <script defer src="/js/database/database-player-utils.js"></script>
    <script defer src="/js/database/database-player-edit-diff.js"></script>
</head>
<body data-player-id="{{player_id}}">
{{body_init}}
<div class="main-container-text-extended">
    <h1>Edit Diff</h1>
    <hr/>

    <!-- edit comment section -->
    <h2>Edit comment</h2>
    <div class="edit-comment">
        <p>"{{edit_comment}}"</p>
    </div>

    <!-- chinese name section -->
    <h2>Chinese Name</h2>
    <div id="chinese-name-from" class="hidden-by-default">
        <template>{{chinese_name_from}}</template>
    </div>
    <div id="chinese-name-to" class="hidden-by-default">
        <template>{{chinese_name_to}}</template>
    </div>
    <div id="chinese-name-no-diff" class="hidden-by-default no-diff-warning">
        <p>No change</p>
    </div>
    <div id="chinese-name-diff-output" class="hidden-by-default diff-output">
    </div>

    <!-- gender section -->
    <h2>Gender</h2>
    <div id="gender-from" class="hidden-by-default">
        <template>{{gender_from}}</template>
    </div>
    <div id="gender-to" class="hidden-by-default">
        <template>{{gender_to}}</template>
    </div>
    <div id="gender-no-diff" class="hidden-by-default no-diff-warning">
        <p>No change</p>
    </div>
    <div id="gender-diff-output" class="hidden-by-default diff-output">
    </div>

    <!-- profile section -->
    <h2>Profile Description</h2>
    <div id="profile-description-from" class="hidden-by-default">
        <template>{{player_profile_description_from}}</template>
    </div>
    <div id="profile-description-to" class="hidden-by-default">
        <template>{{player_profile_description_to}}</template>
    </div>
    <div id="profile-description-no-diff" class="hidden-by-default no-diff-warning">
        <p>No change</p>
    </div>
    <div id="profile-description-diff-output" class="hidden-by-default diff-output">
    </div>

    <!-- source section -->
    <h2>Sources</h2>
    <div id="profile-sources-from" class="hidden-by-default">
        <template>{{player_profile_sources_from}}</template>
    </div>
    <div id="profile-sources-to" class="hidden-by-default">
        <template>{{player_profile_sources_to}}</template>
    </div>
    <div id="profile-sources-no-diff" class="hidden-by-default no-diff-warning">
        <p>No change</p>
    </div>
    <div id="profile-sources-diff-output" class="hidden-by-default diff-output">
    </div>

    <h1>Edit History</h1>
    <hr/>
    <div id="version-history-container"></div>
    <br/>
    <div class="center-content-div">
        <a id="player-profile-link" href="#">view current player page version</a>
    </div>
</div>
</body>
</html>
