<html lang="en">
<head>
    {{header_init}}
    <title>Unauthorized</title>
    {{meta_no_index}}
    <script defer src="/js/default-base-page.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-error-message">
    <div class="center-content-div">
        <img alt="401 Unauthorized" class="warning-icon" src="/images/icons/warning.png">
    </div>
    <span class="big-fat-error-message">
        This page you requested requires authentication.<br/>
        Your session may have expired.<br/>
    </span>
</div>
{{footer}}
</body>
</html>
