<html lang="en">
<head>
    {{header_init}}
    <title>Too many requests</title>
    {{meta_no_index}}
    <script defer src="/js/default-base-page.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-error-message">
    <div class="center-content-div">
        <img alt="429 Too Many Requests" class="warning-icon" src="/images/icons/warning.png">
    </div>
    <span class="big-fat-error-message">
        Too many requests &ndash; please slow down
    </span>
    <div class="center-content-div">
        <div style="width: 94%">
            <p>
                <i>
                    If you need any dataset or data sample from elephantchess (games, puzzles, analysis, player
                    stats, etc.) for any purpose, please <a href="/about/datasets">have a look at our datasets</a>
                    or <a href="/contact">contact us</a> rather than scrape. It's always interesting to hear about
                    your projects and it's easier to get you what you might need.
                </i>
            </p>
        </div>
    </div>
</div>
{{footer}}
</body>
</html>
