<html lang="en">
<head>
    {{header_init}}
    <title>Chinese Chess (Xiangqi) Games Database – Player vs Player</title>
    <meta name="description"
          content="Browse the latest Player-vs-Player Chinese Chess (Xiangqi) games played on elephantchess.io.">
    <meta property="og:url" content="https://elephantchess.io/browse/player-vs-player">
    <link rel="canonical" href="https://elephantchess.io/browse/player-vs-player">
    <link rel="stylesheet" href="/css/browse-games.css"/>
    <script defer src="/js/widgets/settings-manager.js"></script>
    <script defer src="/js/widgets/board-gui.js"></script>
    <script defer src="/js/widgets/game-thumb.js"></script>
    <script defer src="/js/infinite-scroll-page.js"></script>
    <script defer src="/js/browse-games.js"></script>
    <script defer src="/js/browse-pvp-games-of-user.js"></script>
    <script defer src="/js/browse-pvp-games.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-extended">
    <h1>Latest Player-vs-Player Games</h1>
    <hr class="only-desktop"/>
    <div id="pvp-games-container">
        {{game_thumb}}[[iterations:12; {gameType: 'pvp', parentClass: 'pvp-game-thumb'}]]
    </div>
    <div id="is-loading-message" style="display: none;">
        Loading more games...
    </div>
    <div id="end-of-pagination-message" style="display: none;">
        No more games to show
    </div>
    <div id="no-games-message" class="empty-list-message" style="display: none;">
        No games found. Check back later!
    </div>
</div>
</body>
</html>
