<html lang="en">
<head>
    {{header_init}}
    <title>Password Recovery</title>
    <meta name="description"
          content="Password recovery on elephantchess.io. Enter your email address to receive a link to reset your password.">
    <script defer src="/js/password-recovery-attempt.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text">
    <h1>Password Recovery</h1>
    <hr/>
    <p>
        If you already have an account, enter your email address, and we will send you a link to reset your password.
    </p>
    <label for="email-field"></label><input id="email-field" type="text"/>
    <br/>
    <input id="attempt-password-recovery-button" type="button" class="app-buttons-bigger" value="send">
</div>
{{footer}}
</body>
</html>
