<html lang="en">
<head>
    {{header_init}}
    <title>Password Recovery</title>
    {{meta_no_index}}
    <script defer src="/js/password-recovery-finalize.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text">
    <h1>Password</h1>
    <hr>
    Enter a new password:
    <br/>
    <label for="password-field"></label><input id="password-field" type="password"/>
    <br/>
    <input id="update-password-button" type="button" class="app-buttons-bigger" value="update">
</div>
{{footer}}
</body>
</html>
