<html lang="en">
<head>
    {{header_init}}
    <title>Settings</title>
    {{meta_no_index}}
    <link rel="stylesheet" href="/css/user-settings.css"/>
    <script defer src="/js/modules/countries.js"></script>
    <script defer src="/js/user-settings/notification-settings-widget.js"></script>
    <script defer src="/js/user-settings/user-settings.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text">
    <h1>Profile Settings</h1>
    <hr/>
    <h4 class="label">Description</h4>
    <label for="description"></label>
    <textarea id="description" rows="8" cols="50"></textarea>
    <div id="description-character-counter" class="character-counter"></div>
    <h4 class="label">Country</h4>
    <label for="countries"></label>
    <select name="countries" id="countries">
        <option value="none">none</option>
    </select>
    <br/>
    <h4 class="label">Profile Picture</h4>
    <div id="profile-picture-settings">
        <img id="profile-picture-preview" src="/images/icons/user_profile_smaller.png" alt="profile picture preview">
        <input id="profile-picture-input" type="file" accept="image/png,image/jpeg" class="hidden"/>
        <div>
            <input id="select-profile-picture-button" type="button" class="app-buttons-bigger" value="choose picture">
        </div>
        <div id="profile-picture-editor" class="hidden">
            <div class="profile-picture-help">
                Choose the square you want to keep. The uploaded profile picture is saved as 100x100 and limited to 500KB.
            </div>
            <canvas id="profile-picture-editor-canvas" width="320" height="320"></canvas>
            <label for="profile-picture-zoom">zoom</label>
            <input id="profile-picture-zoom" type="range" min="20" max="100" value="100">
            <br/>
            <input id="upload-profile-picture-button" type="button" class="app-buttons-bigger" value="upload picture">
        </div>
    </div>
    <br/>
    <input id="save-profile-button" type="button" class="app-buttons-bigger" value="save">
    <h1>Email Notifications Settings</h1>
    <hr/>
    <table id="notifications-settings-table"></table>
    <input id="save-notifications-button" type="button" class="app-buttons-bigger" value="save">
    <h1>Email Address</h1>
    <hr/>
    <div id="email-valid" class="little-message little-message-flattened valid-data hidden">
        <div class="icon-container">
            <img src="/images/icons/right-icon.png" alt="valid"/>
        </div>
        <div class="message-container">
            Your email address has been successfully verified.
        </div>
    </div>
    <div id="email-invalid" class="little-message little-message-flattened invalid-data hidden">
        <div class="icon-container">
            <img src="/images/icons/wrong-icon.png" alt="invalid"/>
        </div>
        <div class="message-container">
            Your email has been flagged as invalid; it can be - for example - because it does not exist or the inbox is
            full. Password recovery and notifications will not be sent. Please <a href="/about">contact us</a> if you
            want to resolve this issue.
        </div>
    </div>
    <div id="email-validity-unknown" class="little-message little-message-flattened unknown-data hidden">
        <div class="icon-container">
            <img src="/images/icons/question.png" alt="unknown"/>
        </div>
        <div class="message-container">
            It is not known whether your email is valid or not. Password recovery and notifications will not be sent.
            Please <a href="/about">contact us</a> if you want to resolve this issue.
        </div>
    </div>
    <div id="email-address-container">
        <input id="email-address" type="text" disabled/>
    </div>
</div>
</body>
</html>
